<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>LMCertificationsApi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
    <servlet>
  	<servlet-name>LMCertificationsApi</servlet-name>
  	<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
  	<init-param>
    <param-name>com.sun.jersey.config.property.packages</param-name>
    <param-value>com.cert.service</param-value>
</init-param>
    <init-param>
    <param-name>com.sun.jersey.json.impl.provider.entity.JSONJAXBElementProvider</param-name>
    <param-value>true</param-value>
</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LMCertificationsApi</servlet-name>
    <url-pattern>/service/*</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>RESTApiOrgin</filter-name>
  	<filter-class>com.cert.filter.RESTApiOrgin</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>RESTApiOrgin</filter-name>
  	<url-pattern>/service/*</url-pattern>
  </filter-mapping>
</web-app>